<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C4rm4x.Tools.Utilities" version="1.0.0.0" targetFramework="net452" />
  <package id="C4rm4x.WebApi.Framework" version="3.0.0" targetFramework="net452" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Quartz" version="2.4.1" targetFramework="net452" />
  <package id="SimpleInjector" version="3.2.2" targetFramework="net452" />
  <package id="SimpleInjector.Extensions.LifetimeScoping" version="3.2.2" targetFramework="net452" />
</packages>