<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="DocumentDb.Settings.ServiceEndPoint" value="https://mediabug-documentdb.documents.azure.com:443/" />
    <add key="DocumentDb.Settings.AuthKey" value="0O0Ohgzkwm0r2BT58Cjxjz2va5ZuLajqttSPQhm479FZTJa6cKjs0pnxHJEWIjs1M2szJU6ffkCLm0coD3ocwA==" />
  </appSettings>
</configuration>