<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="FacebookMarketingUserInfoClient.Token" value="EAACEdEose0cBAHPl3bSh5AKgdGfUzO9zwNcpUEppvRsq6yvT9rxpomwmsVajPecL4I13fVKQNwM0gYjuoUDeSXyIO4AV66t4kfLUIU71I4MYtxvr8z6g2bN6gM8eZC7kTOn2NtH7yZBQBo3ZCIZBhkBTdwNIAIV3y4i9DNg3wmZA3WxkEhcy7"/>
    <add key="FacebookMarketingUserInfoClient.UserId" value="105013406598385" />
  </appSettings>
</configuration>