<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="FacebookMarketingUserInfoClient.Token" value="EAACEdEose0cBAB91Nd5zz89TzIy3TYNZBbKqfm5oJGKdmqBjYJG1ZC8rZBZCbG6ZAHz0TA0tWCY1ZBZCIDepngQiF6Xlv8GCDD5sW0L1s0LMQgnwtsHM8ZAGBJqszxx3QS0ohSzAygWAXJ3egtLqkic00xbwVPtEAB2FxEVX4R1lDVjZBcrxPsO26"/>
    <add key="FacebookMarketingUserInfoClient.UserId" value="105013406598385" />
  </appSettings>
</configuration>