<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="FacebookMarketingUserInfoClient.Token" value="EAACEdEose0cBACBBRjyTYU7hbutdyrV867CzTsso3uPJdYCdZAks457ZCUA7H3dFsRXOUulGEVcKIoyYuf1w7sxfu3M6N0G68zdmxmx01MpdCkUG3VDXjlq3ZCCWvFvhWSqQ53NYZA27PHW0HDtA38OMbPIRXv7qh5Gmn8bJZCLxjR0qZAvyIFZBI6DjJJKjBoZD" />
    <add key="FacebookMarketingUserInfoClient.UserId" value="1248989845133007" />
  </appSettings>
</configuration>